QMainWindow {
    background: #545454;
    margin: 0;
    padding: 0;
}

_TopBar {
    background: #454545;
    min-height: 40px;
}

_URLInput {
    padding-bottom: -7px;
    padding-left: 10px;
    max-height: 40px;
    font-size: 20px;
    background: #454545;
    border: none;
    border-radius: 5px;
    color: #eee;
}

_TestGroupBox{
    border: none;
    background: #454545;
    padding: 0;
}

MTestItem{
    padding: 0;
    margin: 0;
    border: none;
}

QCheckBox{
    font-size: 16px;
    color: #aaa;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}
/*https://stackoverflow.com/questions/6302428/increase-check-box-size-not-its-text-using-qcheckbox */

_StartScanButton{
    background: #454545;
    min-height: 50px;
    border: none;
    font-size: 20px;
    color: #aaa;
}

_StartScanButton:hover{
    background: #777;
    color: #222;
}